@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --forground-color: black;
  --background-color: #eeece6;
  --button-background-color: #575757;
  --button-border-color: #3b3b3b;
  --button-forground-color: #ffffff
}

@media (prefers-color-scheme: dark) {
  :root {
    --forground-color: #fff;
    --background-color: #272727;
  }
}

body {
  color: var(--forground-color);
  background: var(--background-color);
}

h1, h2, h3, h4, h5, h6 {
  color: black;
  border-bottom: solid black 3px;
}

h1 {
  font-size: 34px;
}

h2 {
  font-size: 32px;
}

h3 {
  font-size: 26px;
}

h4 {
  font-size: 22px;
}

p {
  font-size: 20px;
  color: black;
  margin-top: 2px;
  margin-bottom: 9px;
}

hr {
  border: solid 3px black;
  margin-top: 20px;
  margin-bottom: 20px;
}

.button, .blog-item {
  border: var(--button-border-color) solid;
  background-color: var(--button-background-color);
  color: var(--button-forground-color);
}

#bar-scale-background {
  background-color: var(--button-border-color);
  border: var(--button-border-color) solid;
}

#bar-scale-fill {
  background-color: var(--button-background-color);
}

#search-bar {
  background-color: var(--button-background-color);
  border: var(--button-border-color) solid;
  height: fit-content;
  width: 100%;
  margin-top: 20;
}

.folder-container {
  background-color: #edb865;
  width: 128px;
  height: 86px;
  padding-left: 4px;
  padding-right: 4px;
}
